/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* MODAL POPUP STYLES */
.common-modal .modal-header {
    padding: 0.5rem 1rem;
    border-bottom: 0;
}

.common-modal .modal-header .close {
    padding: 0.5rem 1rem;
    margin: -0.5rem -1rem -1rem auto;
    background: #FFC324;
    color: #212529;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    opacity: 1;
    text-shadow: none;
    transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -webkit-transition: all 200ms linear;
}

.common-modal .modal-header .close:hover {
    background: #16206a;
    color: #fff;
}

.common-modal-box {
    padding: 15px;
    border-radius: 0px;
    border: 1px solid rgba(22, 32, 106, 0.1);
    margin: 15px 0px;
    position: relative;
}

.common-modal-box span {
    font-size: 12px;
    color: #16206a;
    padding-left: 5px;
    font-weight: 600;
}

.common-modal-box span.custom-label {
    color: inherit;
    min-width: 160px;
    padding-left: 0;
    font-weight: initial;
    position: relative;
    padding-right: 10px;
}

.common-modal-box span.custom-label::after {
    position: absolute;
    content: ":";
    right: 0;
    font-weight: 600;
}


@media (min-width: 576px) {
    .modal-dialog {
        max-width: 90% !important;
    }
}

.cdk-overlay-container {
    z-index: 9999999 !important;
}